<section class="p-6 bg-neutral-900 w-full min-h-[90vh] flex flex-col items-center">
  <h2 class="text-white text-center text-2xl font-bold mb-6">Daftar Booking</h2>

  <div class="mb-6 flex gap-4">
    <input
      type="date"
      [(ngModel)]="filterDate"
      class="border p-3 rounded-md"
      placeholder="Filter Tanggal Booking"
    />
    <button
      (click)="resetFilterDate()"
      class="bg-red-500 text-white p-3 rounded-md flex items-center gap-2 hover:bg-red-700 transition"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <div class="">
    <div *ngIf="filteredBookings.length > 0; else noBooking" 
         class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
      <div *ngFor="let b of filteredBookings" 
           class="p-6 border border-gray-700 rounded-lg shadow-lg text-white bg-gray-800 w-72 flex-shrink-0 transition-transform transform hover:scale-105">
        <div class="flex items-center gap-2 mb-2">
          <mat-icon class="text-blue-400">event</mat-icon>
          <p class="text-lg">Tanggal: <span class="font-medium">{{ b.tanggal_booking }}</span></p>
        </div>
        <div class="h-1 bg-gray-500 w-full"></div>
        <p class="text-lg mt-3">Status: <span class="font-medium">{{ b.status }}</span></p>
        <p class="text-lg">Nama Pelanggan: <span class="font-medium">{{ b.kendaraan.pelanggan.nama }}</span></p>
        <p class="text-lg">No Antrian: <span class="font-medium">{{ b.no_antrian }}</span></p>
        <p class="text-lg">Waktu Datang: <span class="font-medium">{{ b.waktu }}</span></p>

        <button *ngIf="b.kendaraan.id_pelanggan == pelangganId" 
                (click)="getBookingDetail(b.id)" 
                class="flex justify-center mt-4 w-full py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-700 transition">
          <mat-icon class="mr-2">visibility</mat-icon> Lihat Detail
        </button>

        <button *ngIf="b.kendaraan.id_pelanggan == pelangganId && b.status === 'tunggu'" 
                (click)="editBooking(b)" 
                class="flex justify-center mt-2 w-full py-2 bg-green-500 text-white rounded-lg hover:bg-yellow-700 transition">
          <mat-icon class="mr-2">edit</mat-icon> Edit Booking
        </button>
      </div>
    </div>
  </div>

  <ng-template #noBooking>
    <p class="text-white text-center text-lg font-semibold">Belum ada booking.</p>
  </ng-template>
</section>
